<div class="card">
  <div class="card-deck">
    <div class="card">
      <img class="card-img-top" src="{{personaje.image}}" alt="Card image cap" />
      <div class="card-body">
        <h5 class="card-title">{{ personaje.name }}</h5>
        <p class="card-text"> ESTADO: {{ personaje.status }}</p>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">ESPECIE: {{ personaje.species }}</li>
      </ul>
      <button class="btn btn-success btn-block" [routerLink]="['/personajes', id]"> Ver mas . . </button>
    <div>
  </div>
</div>
