<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <img src="/assets/images/richandmorty.png" alt="" width="180" height="60">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav">
      <a class="nav-item nav-link active colorText" [routerLink]="['/personajes']">Personajes <span class="sr-only">(current)</span></a>
      <a class="nav-item nav-link colorText" href="#">Location</a>
      <a class="nav-item nav-link colorText" href="#">Episode</a>
    </div>
  </div>
  <form class="form-inline">
    <div class="form-group">
          <input type="text" class="form-control" name="filterPost" placeholder="Personaje ...">
          <!-- (key.enter)="consultar(input.value)" #input
           [(ngModel)]= "termino" -->
    </div>           <!--(key.enter) =  habilita la opcion par aenviar con un enter el valor del Input
                    en este caso se envia por medio de una funcion(input.value)  y el valor con  .value  -->

    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" (click)="consultar(input.value)" >Buscar. . </button>
  </form>
</nav>
